/* SIDEBAR */

.kgSidebar-wrapper{
  background:#0F4C5C;
  color:#FFFFFF;
  height:100vh;
  transition:all .35s ease;
  display:flex;
  flex-direction:column;
  font-family:"Poppins",sans-serif;
}

/* WIDTH */

.kgSidebar-open{
  width:250px;
}

.kgSidebar-close{
  width:70px;
}

/* LOGO AREA */

.kgSidebar-logoArea{
  display:flex;
  align-items:center;
  justify-content:center;
  padding:22px;
  border-bottom:1px solid rgba(255,255,255,.08);
}

/* LOGO */

.kgSidebar-logo{
  transition:all .35s ease;
}

.logo-open{
  width:115px;
  height:85px;
}

.logo-close{
  width:32px;
}

/* MENU */

.kgSidebar-menu{
  list-style:none;
  padding:25px 0;
  flex:1;
}

/* MENU ITEM */

.kgSidebar-menu li{
  display:flex;
  align-items:center;
  gap:16px;
  padding:16px 24px;
  cursor:pointer;
  transition:.25s;
  border-left:3px solid transparent;
}

/* MENU LINK */

.kgSidebar-menu li a{
  display:flex;
  align-items:center;
  gap:16px;
  color:#E6F4F1;
  text-decoration:none;
  width:100%;
  font-size:16px;
  font-weight:500;
  letter-spacing:.3px;
}

/* ICON */

.kgSidebar-menu li svg{
  font-size:20px;
  color:#B8E1DD;
}

/* HOVER EFFECT */

.kgSidebar-menu li:hover{
  background:#0B3A45;
  border-left:3px solid #1ABC9C;
}

.kgSidebar-menu li:hover a{
  color:#FFFFFF;
}

.kgSidebar-menu li:hover svg{
  color:#1ABC9C;
}

/* DIVIDER */

.kgSidebar-menu li:not(:last-child){
  border-bottom:1px solid rgba(255,255,255,.05);
}

/* LOGOUT BUTTON */

.kgSidebar-logout{
  display:flex;
  align-items:center;
  gap:14px;
  padding:18px 24px;
  border-top:1px solid rgba(255,255,255,.08);
  cursor:pointer;
  transition:.25s;
  font-size:16px;
  font-weight:500;
}

.kgSidebar-logout svg{
  font-size:20px;
}

.kgSidebar-logout:hover{
  background:#B22222;
}

/* MOBILE CLOSE */

.kgSidebar-mobileClose{
  display:none;
  position:absolute;
  top:18px;
  left:18px;
  font-size:22px;
  cursor:pointer;
}





/* ACTIVE MENU */

.active-menu {
  background: linear-gradient(90deg, #1ABC9C, #16A085);
  border-left: 3px solid #fff;
}

.active-menu a {
  color: #fff !important;
}

.active-menu svg {
  color: #fff !important;
}

/* SMOOTH SCROLL (premium feel) */
.kgSidebar-menu {
  overflow-y: auto;
}

/* SCROLLBAR */
.kgSidebar-menu::-webkit-scrollbar {
  width: 4px;
}
.kgSidebar-menu::-webkit-scrollbar-thumb {
  background: #1ABC9C;
  border-radius: 10px;
}

/* HOVER IMPROVEMENT */
.kgSidebar-menu li {
  border-radius: 0 25px 25px 0;
}

/* LOGOUT HOVER */
.kgSidebar-logout:hover {
  background: linear-gradient(90deg, #B22222, #8B0000);
}

/* MOBILE */

@media (max-width:768px){

  .kgSidebar-wrapper{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    z-index:2000;
    transform:translateX(-100%);
  }

  .kgSidebar-open{
    transform:translateX(0);
    width:250px;
  }

  .kgSidebar-close{
    transform:translateX(-100%);
  }

  .kgSidebar-mobileClose{
    display:block;
    color:white;
  }

}