/* SIDEBAR */

.kgSidebar-wrapper{
  background:#0F4C5C;            /* Main Sidebar Color */
  color:#FFFFFF;
  height:100vh;
  transition:all .35s ease;
  display:flex;
  flex-direction:column;
}

/* WIDTH */

.kgSidebar-open{
  width:250px;
}

.kgSidebar-close{
  width:70px;
}

/* LOGO AREA */

.kgSidebar-logoArea{
  display:flex;
  align-items:center;
  justify-content:center;
  padding:20px;
  border-bottom:1px solid rgba(255,255,255,.08);
}

/* LOGO */

.kgSidebar-logo{
  transition:all .35s ease;
}

/* OPEN SIDEBAR */

.logo-open{
  width:115px;
  height:85px;
}

/* CLOSED SIDEBAR */

.logo-close{
  width:32px;
}

/* MENU */

.kgSidebar-menu{
  list-style:none;
  padding:20px 0;
}

/* MENU ITEM */

.kgSidebar-menu li{
  display:flex;
  align-items:center;
  gap:14px;
  padding:14px 20px;
  cursor:pointer;
  transition:.25s;
}

/* MENU LINK */

.kgSidebar-menu li a{
  display:flex;
  align-items:center;
  gap:14px;
  color:#E6F4F1;             /* Soft white text */
  text-decoration:none;
  width:100%;
  font-size:15px;
}

/* ICON */

.kgSidebar-menu li svg{
  font-size:18px;
  color:#B8E1DD;             /* Light teal icon */
}

/* HOVER EFFECT */

.kgSidebar-menu li:hover{
  background:#0B3A45;
}

.kgSidebar-menu li:hover a{
  color:#FFFFFF;
}

.kgSidebar-menu li:hover svg{
  color:#1ABC9C;             /* Green highlight */
}

/* ACTIVE MENU */

.kgSidebar-menu li.active{
  background:#1ABC9C;
}

.kgSidebar-menu li.active a{
  color:#FFFFFF;
}

.kgSidebar-menu li.active svg{
  color:#FFFFFF;
}

/* MOBILE CLOSE BUTTON */

.kgSidebar-mobileClose{
  display:none;
  position:absolute;
  top:18px;
  left:18px;
  font-size:22px;
  cursor:pointer;
}

/* MOBILE RESPONSIVE */

@media (max-width:768px){

  .kgSidebar-wrapper{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    z-index:2000;
    transform:translateX(-100%);
  }

  .kgSidebar-open{
    transform:translateX(0);
    width:250px;
  }

  .kgSidebar-close{
    transform:translateX(-100%);
  }

  .kgSidebar-mobileClose{
    display:block;
    color:white;
  }

}