.pricing{
width:100%;
background:#f7f8fc;
padding:100px 20px;
font-family:"Poppins",sans-serif;
}

/* CONTAINER */

.pricing__container{
max-width:1300px;
margin:auto;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:35px;
align-items:stretch;
}

/* CARD */

.pricing__card{
background:white;
border-radius:18px;
padding:55px 40px;
text-align:center;
box-shadow:0 20px 60px rgba(0,0,0,0.06);
transition:all .35s ease;
position:relative;

/* layout fix */
display:flex;
flex-direction:column;
justify-content:flex-start;

min-height:560px;
}

.pricing__card:hover{
transform:translateY(-12px);
box-shadow:0 35px 80px rgba(0,0,0,0.12);
}

/* CENTER CARD */

.pricing__card--popular{
transform:scale(1.08);
border:2px solid #ff2d55;
z-index:2;
}

.pricing__card--popular:hover{
transform:scale(1.1) translateY(-12px);
}

/* BADGE */

.pricing__badge{
position:absolute;
top:-16px;
left:50%;
transform:translateX(-50%);
background:#ff2d55;
color:white;
padding:7px 20px;
border-radius:30px;
font-size:13px;
font-weight:600;
}

/* TITLE */

.pricing__title{
font-size:24px;
font-weight:600;
margin-bottom:12px;
}

/* OLD PRICE */

.pricing__old{
color:#999;
text-decoration:line-through;
margin-bottom:10px;
}

/* PRICE */

.pricing__price{
display:flex;
justify-content:center;
align-items:center;
gap:10px;
margin-bottom:10px;
}

.pricing__price h2{
font-size:46px;
font-weight:700;
}

.pricing__price span{
font-size:15px;
color:#666;
}

/* TEXT */

.pricing__desc{
color:#555;
font-size:15px;
margin-top:10px;
}

.pricing__desc2{
color:#888;
font-size:14px;
margin-bottom:30px;
}

/* BUTTON */

.pricing__btn{
width:100%;
padding:14px;
border-radius:10px;
border:1px solid #ddd;
background:white;
font-weight:600;
cursor:pointer;
transition:all .3s ease;
}

.pricing__btn:hover{
background:#ff2d55;
color:white;
border-color:#ff2d55;
}

.pricing__btn--primary{
background:#ff2d55;
color:white;
border:none;
}

/* SAVE */

.pricing__save{
margin-top:18px;
font-size:14px;
color:#444;
}

.pricing__save span{
margin-left:8px;
background:#ffe5ea;
color:#ff2d55;
padding:5px 10px;
border-radius:6px;
font-size:12px;
}

/* LIST */

.pricing__list{
text-align:left;
margin-top:auto;
padding-left:18px;
color:#555;
line-height:1.9;
font-size:15px;
}

/* RESPONSIVE */

@media(max-width:992px){

.pricing__container{
grid-template-columns:1fr;
max-width:520px;
}

.pricing__card--popular{
transform:none;
}

}